.small__card__container{
  width: 700px;
  margin-bottom: 15px;
}

.small__card__container__content{
  display: flex;
  flex-direction: row;
}

.small__card__photo > img{
  width: 200px;
  min-width: 200px;
  margin-right: 20px;
}

.small__card__title{
  display: flex;
  justify-content: center;
  align-items: center;

}

.small__card__title > h2 :hover{
  color: rgb(129, 185, 127);
}

.small__card__title > h2 > a{
color: white;
}

.small__card__container_separator{
  margin-top: 10px;
}
